{% extends 'base.html.twig' %}
{% block head %}
<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tienda DWCS!{% endblock %}</title>
        {%block stylesheets %}
            {# Otros bloques #}
            <link rel="stylesheet" href="/styles/estilos.css">
       {% endblock %}
    </head>
{% endblock %}
{% block body %}
    <header class="cabecera">
    {{ component('Alert') }}
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/listaTiendas">Ver tiendas</a></li>
            </ul>
        </nav>
    </header>
    <h1>Lista de productos</h1>
    <section class="principal">       
        <ul class="gallery">
        {# Recorremos el array creado en la clase controlador para recuperar las claves #}
            {% for planta in plantas %}
                <li><figure>{{planta.descripcion}}<a href="{{planta.enlace}}"><img src="{{ planta.imagen }}"></a></figure>
                </li>
            {% endfor %} 
            </ul>
    </section>         
{% endblock %}