{% extends 'base.html.twig' %}
{% block head %}
<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tienda DWCS!{% endblock %}</title>
        {%block stylesheets %}
            {# Otros bloques #}
            <link rel="stylesheet" href="/styles/estilos.css">
       {% endblock %}
    </head>
{% endblock %}
{% block body %}
    <header class="cabecera">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
            </ul>
        </nav>
    </header>
    <section class="principal">
        <h1>Donde encontrarnos en Santiago de Compostela</h1>
    <ul class="tiendas">
    {# Recorremos el array creado en la clase controlador para tiendas #}
        {% for floristeria in floristerias %}
            {# Recuperamos la clave nombre y la clave direccion #}
                    <li>{{ floristeria.nombre }} - {{ floristeria.direccion }}</li>
            {% endfor %} 
    </ul>   
{% endblock %}